<?xml version='1.0'?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="agv_base" >

    <link name='base_link'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      
      <visual>
        <origin xyz="0 0 -0.1625" rpy=" 0 0 0"/>
        <geometry>
          <mesh filename="file://$(find agv_description)/meshes/OTAv07_meshes/OTA-v0.7.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>    
      
      <collision>
        <origin xyz="0 0 -0.075" rpy=" 0 0 0"/>
        <geometry>
          <!--<mesh filename="file://$(find agv_description)/meshes/OTAv07_meshes/OTA-v0.7.stl" scale="0.001 0.001 0.001"/> -->
          <box size="1.02 0.72 0.14"/>
        </geometry>
        
      </collision>    
    
      <xacro:box_inertial x="1.02605" y="0.728"  z="0.3" mass="1.0" />
    </link>

    <gazebo reference="base_link">
      <material value="Gazebo/Orange"/>
    </gazebo>

    <link name="scan_link">
      
      <visual>
        <origin xyz="0 0 0" rpy="1.570796 0 -1.570796"/>
        <geometry>
          <mesh filename="file://$(find agv_description)/meshes/OTAv07_meshes/S30B-XXXXXX.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>		

      <!--<collision>
        <origin xyz="0 0 0.0" rpy="1.570796 0 -1.570796"/>
        <geometry>
          <mesh filename="package://agv_description/meshes/OTAv07_meshes/S30B-XXXXXX.stl" scale="0.001 0.001 0.001"/> 
        </geometry>
      </collision>  -->
      
    </link>  

    <joint name="scan_joint" type="fixed">
      <origin xyz="0.42 0.0 0.01" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="scan_link"/>	 
      <axis xyz="0 0 1"/>    
    </joint>       

    <!-- Laser -->
    <gazebo reference="scan_link">
    <material value="Gazebo/DarkGray"/>
    <sensor name="lidar" type="gpu_lidar">
         <always_on>true</always_on>
         <visualize>true</visualize>
         <pose>0 0 0 0 0 0</pose>
         <update_rate>40</update_rate>
         <topic>laser</topic>
         <gz_frame_id>scan_link</gz_frame_id>
         <lidar>
            <scan>
               <horizontal>
                  <samples>720</samples>
                  <update_rate>10</update_rate>
                  <min_angle>-1.570796</min_angle>
                  <max_angle>1.570796</max_angle>
               </horizontal>
            </scan>
            <range>
               <min>0.1</min>
               <max>30</max>
               <resolution>0.03</resolution>
            </range>
            <noise>
               <type>gaussian</type>
               <mean>0.0</mean>
               <stddev>0.01</stddev>
            </noise>
         </lidar>
      </sensor>
      </gazebo>

    <!-- Zed Camera -->

    <link name="zed_camera">
      <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/> 

          <geometry>
            <mesh filename="file://$(find agv_description)/meshes/OTAv07_meshes/zed.stl" />
          </geometry>
          <material name="black">
            <color rgba="1 1 1 1"/>
          </material>
      </visual>

     <!-- <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://agv_description/meshes/OTAv07_meshes/ZED.stl" />
          </geometry>
          <material name="light_grey">
            <color rgba="0.8 0.8 0.8 0.8"/>
          </material>
      </collision> -->
    </link>

    <joint name="zed_camera_joint" type="fixed">
      <parent link="base_link"/>
      <child link="zed_camera"/>
       <origin xyz="0.49 0 0.175" rpy="0 0 0" />
    </joint>

  <gazebo reference="zed_camera">
  <sensor name="camera" type="camera">
         <always_on>true</always_on>
         <update_rate>30</update_rate>
         <visualize>true</visualize>
         <topic>image_raw</topic>
         <gz_frame_id>zed_camera</gz_frame_id>
         <camera name="head">
          <camera_info_topic>camera_info</camera_info_topic>
            <horizontal_fov>1.3962634</horizontal_fov>
            <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
            <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
            <!-- <optical_frame_id>camera_optical_frame</optical_frame_id> -->
            <distortion>
            <k1>0</k1>
            <k2>0</k2>
            <k3>0</k3>
            </distortion>
             <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
         </camera>
      </sensor>
    </gazebo>

    <!-- IMU Link -->
    <link name="imu_link"/>
    
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0.0 0 0.068" rpy="0 0 0"/>
    </joint>
    
  </xacro:macro>      
</robot>
